<% include partials/header.ejs %>

<body id="main" ng-controller="agendaController">
<div class="container" id="container-sidebar">
  <div class="row">
    <div class="wrapper">
      <% include partials/sidebar.ejs %>

      <div class="content" id="main-content">

        <h1>Consultas</h1>

        <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-6">
            <input class="form-control" placeholder="Filtre as consultas pelo nome do paciente ou do médico" ng-model="searchPatientName">
          </div>

          <div class="col-md-3">
            <div ng-if="usuarioLogado.category === 'c'">
              <a type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#cadastrar">Agendar Consulta</a>
            </div>
          </div>
        </div>

        <hr>

        <div ng-repeat="consulta in consultas | filter: searchPatientName">
          <div class="col-xs-6 col-sm-4 col-lg-3">
      			<div class="thumbnail">
      				<div class="caption">
                <div ng-if="usuarioLogado.category !== 'p'">
                  <h5>Paciente: {{consulta.paciente.fullname}}</h5>
                </div>
                <div ng-if="usuarioLogado.category !== 'd'">
                  <h6>Médico: {{consulta.medico.fullname}}</h6>
                </div>
                <h6>Data: {{consulta.consulta.date}}</h6>
                <h6>Horário: {{consulta.consulta.time}} </h6>

                <div ng-if="usuarioLogado.category === 'd'">
                  <hr>
                  <div class="row">
                    <div class="col-md-6">
                      <a type="button" class="btn btn-info btn-md"
                       data-toggle="modal" data-target="#criar-prontuario"
                       data-id="{{consulta.consulta._id}}">
                        Encerrar Consulta</a>
                    </div>
                  </div>
                </div>
      				</div>
      				<!-- /.caption -->
      			</div>
      			<!-- /.thumbnail -->
      		</div>


        </div>

        <br>

        <div class="modal fade" id="cadastrar">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h4 class="modal-title">Agendar consulta</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                      <div class="modal-body">
                      <div id="consulta">
                        <form ng-submit="addAppointment()"><br>
                            <div class="alert alert-danger" id="error-message-appointment" style="display:none"></div>
                            <div class="panel panel-primary">
                              <div class="panel-heading">Selecione um paciente</div>
                              <select name="patientId" class="form-control" ng-model="selectedPatient">
                                <% for(var i = 0; i < pacientes.length; i++){ %>
                                 <option value="<%= pacientes[i]._id %>"><%= pacientes[i].fullname %></option>
                                <% } %>
                              </select>
                            </div>

                            <input type="text" name="clinicId" value="<%= user._id %>" hidden=true>

                            <div class="panel panel-primary">
                              <div class="panel-heading">Selecione um médico</div>
                              <select name="doctorId" class="form-control" ng-model="selectedDoctor">
                                <% for(var i = 0; i < medicos.length; i++){ %>
                                  <option value="<%= medicos[i]._id %>"><%= medicos[i].fullname %></option>
                                <% } %>
                              </select>
                            </div>
                            <!--
                            <h5 class="form-control">Paciente selecionado: {{selectedPatient}}</h5>
                            <h5 class="form-control">Médico selecionado: {{selectedDoctor}}</h5>
                            -->
                            <div class="form-group">
                              <input type="date" class="form-control" name="date" placeholder="Data" required="required" autofocus>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" name="time" placeholder="Horário" required="required" autofocus>
                            </div>

                            <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">Agendar</button>
                            </div>
                        </form>
                      </div>
                      </div>
                  </div>
                  </div>
              </div>


          </div>

        <div class="modal fade" id="criar-prontuario">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h4 class="modal-title">Criar Prontuário</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <script>
            $('#criar-prontuario').on('show.bs.modal', function(e) {
              var idConsulta = e.relatedTarget.dataset.id;
              $('#id-consulta').val(idConsulta);
              // Do some stuff w/ it.
            });
            </script>

              <div class="modal-body">
              <div id="consulta">
                <form ng-submit="addMedicalReport()"><br>
                    <input type="text" id="id-consulta" hidden="true">

                    <div class="alert alert-danger" id="error-message-medicalReport" style="display:none"></div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Altura" type="number" step="0.01" name="altura" required>
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Peso" type="number" step="0.01" name="peso" required>
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Sintoma 1" type="text" name="sintoma1" required>
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Sintoma 2" type="text" name="sintoma2">
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Sintoma 3" type="text" name="sintoma3">
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Diagnóstico" type="text" name="diagnostico" required>
                    </div>

                    <div class="form-group">
                      <input class="form-control" placeholder="Médicação Prescrita" type="text" name="prescricao">
                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Agendar</button>
                    </div>
                </form>
              </div>
              </div>
          </div>
          </div>
        </div>


      </div>
    </div>

    <div id="sair" class="modal fade">
              <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                          <div class="modal-header">
                          <h4 class="modal-title">Logout</h4>
                          </div>
                      <div class="modal-body">
                          <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                          <a class="btn btn-danger" href="/logout">Sair</a>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</head>
</html>
 </body>
