<% include partials/header.ejs %>

<body id="main" ng-controller="appointmentController">
<div class="container" id="container-sidebar">
  <div class="row">
    <div class="wrapper">
      <% include partials/sidebar.ejs %>

      <div class="content" id="main-content">

          <div class="panel-body" action="/clinic/agenda/:clinicId" method="get">
            <div class="panel panel-primary">
              <div class="panel-heading">Consultas</div>
              <ul class="list-group" >
                <% for(var i = 0; i < consultas.length; i++){ %>
                  <li class="list-group-item">
                    <% if(user.category !== 'p'){ %>
                      <h5>Paciente: <%= consultas[i].paciente.fullname %></h5>
                    <% } %>
                    <% if(user.category !== 'd'){ %>
                      <h6>Médico: <%= consultas[i].medico.fullname %></h6>
                    <% } %>
                    <h6>Data: <%= consultas[i].consulta.date %></h6>
                    <h6>Horário: <%= consultas[i].consulta.time %> </h6>
                  </li>
                <% } %>
               </ul>
            </div>

          </div>
          <br>
          <% if(user.category === 'c'){ %>
            <a type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#cadastrar">Agendar consultas</a>
          <% } %>
          <div class="modal fade" id="cadastrar">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h4 class="modal-title">Agendar consulta</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                      <div class="modal-body">
                      <div id="consulta">
                        <form ng-submit="addAppointment()"><br>
                            <div class="alert alert-danger" id="error-message-appointment" style="display:none"></div>
                            <div class="panel panel-primary">
                              <div class="panel-heading">Selecione um paciente</div>
                              <select name="patientId" class="form-control" ng-model="selectedPatient">
                                <% for(var i = 0; i < pacientes.length; i++){ %>
                                 <option value="<%= pacientes[i]._id %>"><%= pacientes[i].fullname %></option>
                                <% } %>
                              </select>
                            </div>

                            <input type="text" name="clinicId" value="<%= user._id %>" hidden=true>

                            <div class="panel panel-primary">
                              <div class="panel-heading">Selecione um médico</div>
                              <select name="doctorId" class="form-control" ng-model="selectedDoctor">
                                <% for(var i = 0; i < medicos.length; i++){ %>
                                  <option value="<%= medicos[i]._id %>"><%= medicos[i].fullname %></option>
                                <% } %>
                              </select>
                            </div>
                            <!--
                            <h5 class="form-control">Paciente selecionado: {{selectedPatient}}</h5>
                            <h5 class="form-control">Médico selecionado: {{selectedDoctor}}</h5>
                            -->
                            <div class="form-group">
                              <input type="date" class="form-control" name="date" placeholder="Data" required="required" autofocus>
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control" name="time" placeholder="Horário" required="required" autofocus>
                            </div>

                            <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">Agendar</button>
                            </div>
                        </form>
                      </div>
                      </div>
                  </div>
                  </div>
              </div>


          </div>
      </div>

      <div id="sair" class="modal fade">
              <div class="modal-dialog modal-confirm">
                  <div class="modal-content">
                          <div class="modal-header">
                          <h4 class="modal-title">Logout</h4>
                          </div>
                      <div class="modal-body">
                          <p>Você está prestes a sair do Medline.  Deseja realmente sair? </p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                          <a class="btn btn-danger" href="/logout">Sair</a>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</head>
</html>
 </body>
